<div>
  <p>¿Estás seguro de borrar {{name}}?</p>
  <p>{{owner}}: 'No me quiero ir Sr. Stark...</p>
  <form action="/tienditas/delete/{{_id}}" method="POST">
    <button type="submit">Vámonso ALV</button>
  </form>
</div>